@import "owl.carousel.css";
@import "owl.theme.default.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url("../img/bg_main.jpg");
  background-size: cover;
}

.d-flex {
  display: flex;
}

.justify-content {
  justify-content: space-between;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: #3E3E3E;
  margin-bottom: 31px;
  max-width: 480px;
}

.h1_span {
  color: #40A3F8;
}
@media screen and (max-width: 495px) {
  .h1_span {
    color: #3E3E3E;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  color: #3E3E3E;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.a_btn {
  background: #40A3F8;
  border-radius: 5px;
  padding: 16px 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #FFFFFF;
  transition: 1s;
}
.a_btn:hover {
  opacity: 0.6;
}

.container {
  max-width: 1170px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 16px;
  }
}

header {
  position: absolute;
  width: 100%;
  z-index: 99;
}
@media screen and (max-width: 767px) {
  header {
    background-color: rgba(210, 231, 248, 0.6);
    backdrop-filter: blur(20px);
    position: fixed;
  }
}
header .container {
  padding-top: 24px;
}
@media screen and (max-width: 767px) {
  header .container {
    padding-top: 16px;
    padding-bottom: 24px;
  }
}
header .container .header .header_logo {
  position: relative;
  z-index: 99;
  height: 47px;
  transition: 1s;
}
header .container .header .header_logo:hover {
  opacity: 0.6;
}
header .container .header .nav ul {
  display: flex;
}
header .container .header .nav ul li {
  margin-left: 51px;
  margin-top: 5px;
}
@media screen and (max-width: 900px) {
  header .container .header .nav ul li {
    margin-left: 24px;
  }
}
header .container .header .nav ul li:last-of-type {
  margin-left: 75px;
}
@media screen and (max-width: 900px) {
  header .container .header .nav ul li:last-of-type {
    margin-left: 36px;
  }
}
header .container .header .nav ul li .a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6E5F5F;
  opacity: 0.3;
  transition: 1s;
  display: inline-block;
}
header .container .header .nav ul li .a:hover {
  color: #40A3F8;
  opacity: 1;
}
header .container .header .nav ul li .a_btn {
  background: #40A3F8;
  padding: 12px 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  color: #FFFFFF;
  transition: 1s;
}
header .container .header .nav ul li .a_btn:hover {
  opacity: 1;
  background: #FFFFFF;
  color: #40A3F8;
}
@media only screen and (max-width: 767px) {
  header .container .header {
    display: none;
  }
}

.home {
  background-image: url("../img/bg_home.png");
  background-size: cover;
  padding: 325px 0 193px;
}
@media screen and (max-width: 1300px) {
  .home {
    padding: 200px 0 120px;
  }
}
@media screen and (max-width: 1270px) {
  .home {
    padding: 200px 0 90px;
  }
}
@media screen and (max-width: 1150px) {
  .home {
    padding: 180px 0 70px;
  }
}
@media screen and (max-width: 1150px) {
  .home {
    padding: 160px 0 60px;
  }
}
.home .container {
  position: relative;
}
@media screen and (max-width: 1150px) {
  .home .container {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.home .container img {
  position: absolute;
  bottom: -193px;
  right: -104px;
  z-index: 2;
}
@media screen and (max-width: 1370px) {
  .home .container img {
    right: -74px;
  }
}
@media screen and (max-width: 1320px) {
  .home .container img {
    right: -54px;
  }
}
@media screen and (max-width: 1300px) {
  .home .container img {
    block-size: 140%;
    right: 0;
    bottom: -120px;
  }
}
@media screen and (max-width: 1270px) {
  .home .container img {
    block-size: 120%;
    right: 0;
    bottom: -90px;
  }
}
@media screen and (max-width: 1150px) {
  .home .container img {
    display: none;
  }
}
.home .container p {
  font-size: 14px;
  line-height: 30px;
  color: rgba(117, 117, 117, 0.45);
  max-width: 460px;
  margin-bottom: 50px;
}
.home .form_home {
  padding: 14px;
  display: flex;
  max-width: 554px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 580px) {
  .home .form_home {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.home .form_home .form_home_select {
  position: relative;
}
@media screen and (max-width: 580px) {
  .home .form_home .form_home_select {
    margin-bottom: 24px;
  }
}
.home .form_home .form_home_select:before {
  content: url("../img/icons/icon_home_location.svg");
  position: absolute;
  top: 18px;
  left: 20px;
}
@media screen and (max-width: 580px) {
  .home .form_home .form_home_select:before {
    left: 30px;
  }
}
.home .form_home .form_home_select:after {
  content: url("../img/icons/icon_home_arrow.svg");
  position: absolute;
  top: 18px;
  right: 51px;
  pointer-events: none;
}
@media screen and (max-width: 580px) {
  .home .form_home .form_home_select:after {
    right: 20px;
  }
}
@media screen and (max-width: 580px) {
  .home .form_home .form_home_find {
    margin-bottom: 24px;
  }
}
.home .form_home .form_home_find input {
  background-color: rgba(245, 246, 250, 0.5);
  border-radius: 8px;
  width: 203px;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  border: none;
  outline: none;
  padding: 0 10px 0 30px;
  appearance: none;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 19px;
}
@media screen and (max-width: 580px) {
  .home .form_home .form_home_find input {
    margin-right: 0;
    width: 260px;
  }
}
.home .form_home .form_home_select select {
  background-color: rgba(245, 246, 250, 0.5);
  border-radius: 8px;
  width: 203px;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  border: none;
  outline: none;
  padding: 0 30px 0 50px;
  appearance: none;
  color: #3D3D3F;
  margin-right: 31px;
}
@media screen and (max-width: 580px) {
  .home .form_home .form_home_select select {
    margin-right: 0;
    width: 260px;
  }
}
.home .form_home button {
  border-radius: 8px;
  width: 70px;
  height: 60px;
  background-color: #40A3F8;
  background-image: url("../img/icons/icon_home_search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  transition: 1s;
}
.home .form_home button:hover {
  opacity: 0.7;
}
@media screen and (max-width: 580px) {
  .home .form_home button {
    width: 260px;
  }
}

.steps {
  padding: 86px 0 111px;
}
@media screen and (max-width: 1000px) {
  .steps {
    padding: 60px 0 60px;
  }
}
.steps .container h2 {
  margin-bottom: 61px;
  text-align: center;
}
.steps .container .steps_articles {
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  .steps .container .steps_articles {
    justify-content: center;
  }
}
.steps .container .steps_articles article {
  max-width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .steps .container .steps_articles article {
    margin: 10px;
  }
}
.steps .container .steps_articles h3 {
  margin-bottom: 18px;
}
.steps .container .steps_articles p {
  font-size: 12px;
  line-height: 20px;
  color: rgba(117, 117, 117, 0.45);
}
.steps .container .steps_articles img {
  margin-bottom: 5px;
  border-radius: 50%;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
}

.best {
  padding: 71px 0 73px;
}
@media screen and (max-width: 1000px) {
  .best {
    padding: 60px 0 60px;
  }
}
.best .container {
  justify-content: end;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .best .container {
    text-align: center;
    justify-content: center;
  }
}
.best .container img {
  position: absolute;
  bottom: -73px;
  left: -105px;
  z-index: 2;
}
@media screen and (max-width: 1370px) {
  .best .container img {
    left: -84px;
  }
}
@media screen and (max-width: 1320px) {
  .best .container img {
    left: -54px;
  }
}
@media screen and (max-width: 1300px) {
  .best .container img {
    left: -34px;
  }
}
@media screen and (max-width: 1270px) {
  .best .container img {
    block-size: 100%;
    left: 0;
    bottom: -6px;
  }
}
@media screen and (max-width: 1030px) {
  .best .container img {
    block-size: 90%;
    left: 0;
    bottom: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .best .container img {
    display: none;
  }
}
.best .container .best_container_2 {
  max-width: 508px;
}
.best .container .best_container_2 h2 {
  margin-bottom: 24px;
}
.best .container .best_container_2 p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 0.45);
  margin-bottom: 14px;
}
.best .container .best_container_2 .a_btn:after {
  content: url("../img/icons/icon_service_arrow.svg");
  margin-left: 9px;
  position: relative;
  top: 1px;
}
.best .container .best_container_2 ul li {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  margin-bottom: 14px;
}
.best .container .best_container_2 ul li:before {
  content: url("../img/icons/icon_check.svg");
  display: inline-block;
  margin-right: 18px;
  position: relative;
  top: 4px;
}
.best .container .best_container_2 ul li:last-of-type {
  margin-bottom: 34px;
}

.service {
  padding: 143px 0 120px;
}
@media screen and (max-width: 1000px) {
  .service {
    padding: 60px 0 120px;
  }
}
.service .container {
  text-align: center;
}
.service .container h2 {
  margin-bottom: 24px;
}
.service .container p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  max-width: 480px;
  margin: auto;
}
.service .container article {
  max-width: 348px;
  padding: 59px 62px 31px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
@media screen and (max-width: 400px) {
  .service .container article {
    padding: 59px 32px 31px;
  }
}
.service .container article p {
  max-width: 224px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(117, 117, 117, 0.45);
}
.service .container article h3 {
  margin-bottom: 23px;
}
.service .container article img {
  margin-bottom: 16px;
}

.doctors {
  padding-bottom: 120px;
}
@media screen and (max-width: 980px) {
  .doctors {
    padding-bottom: 70px;
  }
}
.doctors .container {
  flex-direction: column;
  align-items: center;
  position: relative;
}
.doctors .container:after {
  content: url("../img/titletag.svg");
  display: block;
  position: absolute;
  top: 65px;
}
@media screen and (max-width: 664px) {
  .doctors .container:after {
    top: 114px;
  }
}
@media screen and (max-width: 376px) {
  .doctors .container:after {
    top: 163px;
  }
}
.doctors .container h2 {
  margin-bottom: 47px;
  text-align: center;
}
.doctors .container p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 0.45);
  max-width: 514px;
  margin-bottom: 69px;
  text-align: center;
}
.doctors .container .doctors_items {
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 58px;
}
@media screen and (max-width: 1200px) {
  .doctors .container .doctors_items {
    justify-content: center;
  }
}
.doctors .container .doctors_items article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
  border: 1px solid #EEEFF1;
  border-radius: 10px;
  padding: 10px 10px 27px 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 1200px) {
  .doctors .container .doctors_items article {
    margin: 10px;
  }
}
.doctors .container .doctors_items article h4 {
  margin-bottom: 2px;
  text-align: center;
}
.doctors .container .doctors_items article h5 {
  margin-bottom: 17px;
  text-align: center;
  color: rgba(117, 117, 117, 0.45);
}
.doctors .container .doctors_items article img {
  margin-bottom: 18px;
}
.doctors .container .doctors_items article .doctors_social a {
  display: inline-block;
  transition: 1s;
}
.doctors .container .doctors_items article .doctors_social a:hover {
  opacity: 0.6;
}
.doctors .container .doctors_items article .doctors_social a:nth-child(2) {
  margin: 0 11px;
}

.mobile {
  padding: 206px 0 222px;
}
@media screen and (max-width: 1200px) {
  .mobile {
    padding: 60px 0 122px;
  }
}
@media screen and (max-width: 1000px) {
  .mobile {
    padding: 60px 0 60px;
  }
}
.mobile .container {
  justify-content: end;
  position: relative;
}
@media screen and (max-width: 980px) {
  .mobile .container {
    text-align: center;
    justify-content: center;
  }
}
.mobile .container .mobile_container_2 {
  max-width: 508px;
}
.mobile .container .mobile_container_2 h2 {
  margin-bottom: 30px;
}
.mobile .container .mobile_container_2 p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 0.45);
  margin-bottom: 45px;
}
@media screen and (max-width: 339px) {
  .mobile .container .mobile_container_2 .mobile_apps {
    display: flex;
    flex-direction: column;
  }
}
.mobile .container .mobile_container_2 .mobile_apps a {
  transition: 1s;
  display: inline-block;
}
.mobile .container .mobile_container_2 .mobile_apps a:hover {
  opacity: 0.6;
}
.mobile .container .mobile_container_2 .mobile_apps a:first-of-type {
  margin-right: 10px;
}
@media screen and (max-width: 339px) {
  .mobile .container .mobile_container_2 .mobile_apps a:first-of-type {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
.mobile .container .mobile_img {
  position: absolute;
  bottom: -222px;
  left: -248px;
  z-index: 2;
}
@media screen and (max-width: 1520px) {
  .mobile .container .mobile_img {
    left: -200px;
  }
}
@media screen and (max-width: 1370px) {
  .mobile .container .mobile_img {
    left: -100px;
  }
}
@media screen and (max-width: 1200px) {
  .mobile .container .mobile_img {
    block-size: 200%;
    left: -80px;
    bottom: -182px;
  }
}
@media screen and (max-width: 1000px) {
  .mobile .container .mobile_img {
    display: none;
  }
}

.reviews {
  padding: 120px 0 93px;
}
@media screen and (max-width: 980px) {
  .reviews {
    padding: 60px 0 60px;
  }
}
.reviews .container {
  flex-direction: column;
  position: relative;
}
.reviews .container h2 {
  margin-bottom: 82px;
  text-align: center;
}
.reviews .container .reviews_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviews .container .reviews_items .reviews_item {
  display: flex;
  flex-direction: column;
  background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
  border: 1px solid #EEEFF1;
  border-radius: 10px;
  padding: 23px 17px 32px 48px;
  box-sizing: border-box;
  max-width: 370px;
  position: relative;
}
.reviews .container .reviews_items .reviews_item:after {
  content: url("../img/icons/icon_quote.svg");
  display: block;
  position: absolute;
  top: -20px;
  right: 41px;
}
.reviews .container .reviews_items .reviews_item .reviews_stars {
  color: #FF9000;
  font-size: 18px;
}
.reviews .container .reviews_items .reviews_item img {
  margin-bottom: 10px;
  align-self: center;
}
.reviews .container .reviews_items .reviews_item h4 {
  color: #3E3E3E;
}
.reviews .container .reviews_items .reviews_item h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #47C2FF;
  margin-bottom: 16px;
}
.reviews .container .reviews_items .reviews_item p {
  font-size: 16px;
  line-height: 25px;
  color: #454D5D;
}

.book {
  padding: 105px 0 123px;
}
@media screen and (max-width: 980px) {
  .book {
    padding: 60px 0 60px;
  }
}
.book .container {
  position: relative;
  background-color: #40A3F8;
  border-radius: 12px;
  background-image: url("../img/bg_book.png");
  padding: 82px 118px 107px;
  box-sizing: border-box;
}
@media screen and (max-width: 980px) {
  .book .container {
    padding: 82px 78px 107px;
  }
}
@media screen and (max-width: 940px) {
  .book .container {
    justify-content: center;
    padding: 82px 16px 107px;
  }
}
.book .container img {
  position: absolute;
  bottom: 0;
  right: 48px;
  z-index: 2;
}
@media screen and (max-width: 940px) {
  .book .container img {
    display: none;
  }
}
@media screen and (max-width: 940px) {
  .book .container .book_container_div {
    text-align: center;
  }
}
.book .container .book_container_div h2 {
  color: #FFFFFF;
  max-width: 400px;
  margin-bottom: 37px;
  font-size: 40px;
  line-height: 47px;
  text-transform: capitalize;
  font-weight: 700;
}
.book .container .book_container_div .a_btn {
  background: #FFFFFF;
  color: #40A3F8;
}

footer .footer {
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(168, 167, 167, 0.631372549);
  padding-top: 34px;
  padding-bottom: 30px;
}
footer .footer .container {
  flex-wrap: wrap;
}
@media screen and (max-width: 488px) {
  footer .footer .container {
    justify-content: center;
  }
}
@media screen and (max-width: 900px) {
  footer .footer .container .footer_div_1 {
    margin-right: 15px;
  }
}
@media screen and (max-width: 488px) {
  footer .footer .container .footer_div_1 {
    margin: 0 16px 0;
    text-align: center;
    padding-bottom: 32px;
  }
}
footer .footer .container .footer_div_1 .footer_logo {
  height: 47px;
  display: inline-block;
  margin-bottom: 12px;
}
footer .footer .container .footer_div_1 .p_footer {
  max-width: 300px;
  line-height: 180%;
  margin-bottom: 16px;
}
@media screen and (max-width: 778px) {
  footer .footer .container .footer_div_1 .p_footer:last-of-type {
    margin-bottom: 67px;
  }
}
@media screen and (max-width: 488px) {
  footer .footer .container .footer_div_1 .p_footer:last-of-type {
    margin-bottom: 16px;
  }
}
footer .footer .container .footer_div_1 .footer_social ul {
  display: flex;
}
@media screen and (max-width: 488px) {
  footer .footer .container .footer_div_1 .footer_social ul {
    justify-content: center;
  }
}
footer .footer .container .footer_div_1 .footer_social ul li a {
  display: inline-block;
  margin-right: 16px;
  transition: 1s;
}
footer .footer .container .footer_div_1 .footer_social ul li a:hover {
  opacity: 0.7;
}
footer .footer .container .h4_footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  margin-bottom: 24px;
}
footer .footer .container .footer_div_2 {
  display: flex;
  justify-content: space-between;
}
footer .footer .container .footer_div_2 .footer_div_2_div1, footer .footer .container .footer_div_2 .footer_div_2_div2 {
  display: flex;
  flex-direction: column;
  margin-right: 113px;
}
@media screen and (max-width: 1000px) {
  footer .footer .container .footer_div_2 .footer_div_2_div1, footer .footer .container .footer_div_2 .footer_div_2_div2 {
    margin-right: 50px;
  }
}
@media screen and (max-width: 900px) {
  footer .footer .container .footer_div_2 .footer_div_2_div1, footer .footer .container .footer_div_2 .footer_div_2_div2 {
    margin-right: 15px;
  }
}
@media screen and (max-width: 778px) {
  footer .footer .container .footer_div_2 .footer_div_2_div1, footer .footer .container .footer_div_2 .footer_div_2_div2 {
    margin-right: 30px;
  }
}
footer .footer .container .footer_div_2 .footer_div_2_div1 ul li, footer .footer .container .footer_div_2 .footer_div_2_div2 ul li {
  margin-bottom: 24px;
}
footer .footer .container .footer_div_2 .footer_div_2_div1 ul li:last-of-type, footer .footer .container .footer_div_2 .footer_div_2_div2 ul li:last-of-type {
  margin-bottom: 0;
}
footer .footer .container .footer_div_2 .footer_div_2_div2 {
  margin-right: 0;
}
@media screen and (max-width: 900px) {
  footer .footer .container .footer_div_2 .footer_div_2_div2 {
    margin-right: 15px;
  }
}
@media screen and (max-width: 778px) {
  footer .footer .container .footer_div_2 .footer_div_2_div2 {
    margin-right: 0;
  }
}
footer .footer .container .footer_div_3 {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 778px) {
  footer .footer .container .footer_div_3 {
    margin: auto;
    text-align: center;
    padding-top: 32px;
  }
}
footer .footer .container .footer_div_3 .p_footer {
  max-width: 290px;
  line-height: 180%;
  margin-bottom: 15px;
}
footer .footer .container .footer_div_3 .h4_footer {
  margin-bottom: 19px;
}
footer .footer .container .footer_div_3 .footer_form {
  display: flex;
  flex-direction: column;
}
footer .footer .container .footer_div_3 .footer_form .footer_email {
  border: 1.1px solid #E1E2E4;
  border-radius: 5px;
  padding: 12px 20px;
  margin-bottom: 12px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.45);
}
footer .footer .container .footer_div_3 .footer_form button {
  background: #40A3F8;
  border-radius: 5px;
  padding: 12px 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  transition: 1s;
}
footer .footer .container .footer_div_3 .footer_form button:hover {
  opacity: 0.6;
}
footer .footer_after {
  padding: 27px 0 36px;
}
footer .footer_after .container {
  max-width: 1170px;
  margin: auto;
}
@media screen and (max-width: 427px) {
  footer .footer_after .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer .footer_after .container .footer_after_div li {
  margin-left: 54px;
}
@media screen and (max-width: 488px) {
  footer .footer_after .container .footer_after_div li {
    margin-left: 24px;
  }
}
@media screen and (max-width: 427px) {
  footer .footer_after .container .footer_after_div li:first-of-type {
    margin-left: 0;
  }
}
footer .p_footer, footer .a_footer {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3D3D3F;
}
@media screen and (max-width: 427px) {
  footer .p_footer {
    padding-bottom: 16px;
  }
}
footer .a_footer {
  transition: 1s;
}
footer .a_footer:hover {
  color: #40A3F8;
}

.owl-carousel.owl-drag .owl-item {
  display: flex;
  justify-content: space-around;
}
.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.owl-carousel_1 {
  margin-top: 75px;
  overflow: hidden;
}
.owl-carousel_1 .owl-item {
  opacity: 0.7;
  transition: 1s;
  display: flex;
  justify-content: space-around;
}
.owl-carousel_1 .owl-item img {
  width: fit-content;
  display: inline-block;
}
.owl-carousel_1 .owl-item:after {
  content: "";
  width: 348px;
  height: 18px;
  background: #40A3F8;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: auto;
  margin: 0 20px;
  transition: 1s;
}
@media screen and (max-width: 400px) {
  .owl-carousel_1 .owl-item:after {
    max-width: 288px;
  }
}
.owl-carousel_1 .owl-dots {
  margin-top: 92px;
}
.owl-carousel_1 .owl-dot.active span {
  background: #40A3F8;
  width: 60px;
  border-radius: 10px;
}
.owl-carousel_1 .owl-dot span {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  border-radius: 50%;
  background: rgba(117, 117, 117, 0.45);
  transition: 1s;
}
.owl-carousel_1 .owl-item.active.center {
  position: relative;
  transition: 1s;
  opacity: 1;
}
.owl-carousel_1 .owl-item.active.center:after {
  content: "";
  width: 348px;
  height: 18px;
  background: #40A3F8;
  opacity: 0.5;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: auto;
  margin: 0 20px;
  transition: 2s;
}

.owl-carousel_2 .owl-nav.disabled {
  display: flex;
  justify-content: space-between;
}
.owl-carousel_2 .owl-item {
  transition: 1s;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
@media screen and (max-width: 520px) {
  .owl-carousel_2 .owl-item {
    margin: 0 5px;
  }
}
.owl-carousel_2 .owl-item img {
  width: fit-content;
  display: inline-block;
}
.owl-carousel_2 .owl-nav button.owl-prev, .owl-carousel_2 .owl-nav button.owl-next {
  content: "";
  background-image: url("../img/icons/icon_arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 18px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8ECF6;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: auto;
  left: -40px;
  transition: 1.5s;
}
@media screen and (max-width: 1270px) {
  .owl-carousel_2 .owl-nav button.owl-prev, .owl-carousel_2 .owl-nav button.owl-next {
    right: auto;
    left: 0px;
  }
}
@media screen and (max-width: 1169px) {
  .owl-carousel_2 .owl-nav button.owl-prev, .owl-carousel_2 .owl-nav button.owl-next {
    right: auto;
    left: 150px;
  }
}
@media screen and (max-width: 900px) {
  .owl-carousel_2 .owl-nav button.owl-prev, .owl-carousel_2 .owl-nav button.owl-next {
    right: auto;
    left: 70px;
  }
}
@media screen and (max-width: 620px) {
  .owl-carousel_2 .owl-nav button.owl-prev, .owl-carousel_2 .owl-nav button.owl-next {
    right: auto;
    left: 20px;
  }
}
@media screen and (max-width: 520px) {
  .owl-carousel_2 .owl-nav button.owl-prev, .owl-carousel_2 .owl-nav button.owl-next {
    top: 105%;
    right: auto;
    left: 35%;
  }
}
.owl-carousel_2 .owl-nav button.owl-prev span, .owl-carousel_2 .owl-nav button.owl-next span {
  display: none;
}
.owl-carousel_2 .owl-nav button.owl-prev:hover, .owl-carousel_2 .owl-nav button.owl-next:hover {
  background-image: url("../img/icons/icon_arrow_white.svg");
  background-color: #40A3F8;
}
.owl-carousel_2 .owl-nav button.owl-next {
  rotate: 180deg;
  right: -40px;
  left: auto;
}
@media screen and (max-width: 1270px) {
  .owl-carousel_2 .owl-nav button.owl-next {
    right: 0px;
    left: auto;
  }
}
@media screen and (max-width: 1169px) {
  .owl-carousel_2 .owl-nav button.owl-next {
    right: 150px;
    left: auto;
  }
}
@media screen and (max-width: 900px) {
  .owl-carousel_2 .owl-nav button.owl-next {
    right: 70px;
    left: auto;
  }
}
@media screen and (max-width: 620px) {
  .owl-carousel_2 .owl-nav button.owl-next {
    right: 20px;
    left: auto;
  }
}
@media screen and (max-width: 520px) {
  .owl-carousel_2 .owl-nav button.owl-next {
    right: 35%;
    top: 105%;
    left: auto;
  }
}

.burger {
  display: none;
}
@media only screen and (max-width: 767px) {
  .burger {
    display: flex;
  }
}
.burger .logo {
  position: relative;
}
.burger .logo .header_logo {
  position: fixed;
  z-index: 10;
}
.burger #menu {
  background: #1E1E1E;
  width: 100vw;
  height: 100vh;
  padding: 0;
  color: #FFFFFF;
  display: flex;
  visibility: visible;
  opacity: 1;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 1s;
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9;
}
.burger #menu.active {
  position: fixed;
  top: 0;
}
.burger #menu ul {
  list-style-type: none;
  padding: 0;
}
.burger #menu ul li {
  margin: 24px 0;
}
.burger #menu ul li:nth-child(4) {
  margin: 24px 0 36px;
}
.burger #menu ul li .a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  transition: 1s;
}
.burger #menu ul li .a:hover {
  color: #40A3F8;
}
.burger #menu ul li .a_btn {
  background: #FFFFFF;
  padding: 12px 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  color: #40A3F8;
  transition: 1s;
}
.burger #menu ul li .a_btn:hover {
  opacity: 1;
  background: #40A3F8;
  color: #FFFFFF;
}
.burger #toggle {
  position: relative;
  width: 30px;
  height: 35px;
  left: 0;
  top: 10px;
  transition: 2s;
  z-index: 10;
}
.burger #toggle input {
  position: fixed;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.burger #toggle input:checked + span {
  background: transparent;
  left: 0;
}
.burger #toggle input:checked + span:after {
  transform: rotate(45deg) translate(-1px, -12px);
  left: -7px;
}
.burger #toggle input:checked + span:before {
  transform: rotate(-45deg) translate(-4px, 16px);
  left: -7px;
}
.burger #toggle span {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #40A3F8;
  margin-top: 10px;
  transition: all 0.1s;
  left: 0;
}
.burger #toggle span:before, .burger #toggle span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #40A3F8;
  top: -12px;
  left: 0;
  transition: all 0.3s;
}
.burger #toggle span:after {
  top: 12px;
}

/*# sourceMappingURL=style.css.map */
