@import "owl.carousel.css";
@import "owl.theme.default.css";

$main_font: 'Roboto', sans-serif;
$second_font: 'Poppins', sans-serif;
$third_font: 'DM Sans', sans-serif;
$white: #FFFFFF;
$light_grey: #6E5F5F;
$grey: #3D3D3F;
$grey_opacity: rgb(117,117,117,0.45);
$dark_grey: #3E3E3E;
$main_blue: #40A3F8;
$second_blue: #47C2FF;
$shadow: 0 4px 22px rgb(0 0 0 / 5%);


@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  text-decoration: none;
  list-style: none;
}

body{
  background-image: url("../img/bg_main.jpg");
  background-size: cover;
}

.d-flex{
  display: flex;
}

.justify-content{
  justify-content: space-between;
}

h1{
  font-family: $main_font;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: $dark_grey;
  margin-bottom: 31px;
  max-width: 480px;
}

.h1_span{
  color: $main_blue;
  @include max-screen(495px){
    color: $dark_grey;
  }
}

h2{
  font-family: $main_font;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  color: $dark_grey;
}

h3{
  font-family: $main_font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

h4{
  font-family: $main_font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

h5{
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

p{
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
}

.a_btn{
  background: $main_blue;
  border-radius: 5px;
  padding: 16px 18px;
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: $white;
  transition: 1s;
  &:hover {
    opacity: 0.6;
  }
}

.container{
  max-width: 1170px;
  margin: auto;
  @include max-screen(1200px){
    padding: 0 16px;
  }
}

header{
  position: absolute;
  width: 100%;
  z-index: 99;
  @include max-screen(767px){
    background-color: rgba(210, 231, 248, 0.6);
    backdrop-filter: blur(20px);
    position: fixed;
  }
  .container{
    padding-top: 24px;
    @include max-screen(767px){
      padding-top: 16px;
      padding-bottom: 24px;
    }
    .header{
      .header_logo{
        position: relative;
        z-index: 99;
        height: 47px;
        transition: 1s;
        &:hover {
          opacity: 0.6;
        }
      }
      .nav{
        ul{
          display: flex;
          li{
            margin-left: 51px;
            margin-top: 5px;
            @include max-screen(900px){
              margin-left: 24px;
            }
            &:last-of-type{
              margin-left: 75px;
              @include max-screen(900px){
                margin-left: 36px;
              }
            }
            .a{
              font-family: $second_font;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #6E5F5F;
              opacity: 0.3;
              transition: 1s;
              display: inline-block;
              &:hover {
                color: $main_blue;
                opacity: 1;
              }
            }
            .a_btn{
              background: $main_blue;
              padding: 12px 28px;
              font-family: $second_font;
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 22px;
              cursor: pointer;
              color: $white;
              transition: 1s;
              &:hover {
                opacity: 1;
                background: $white;
                color:  $main_blue;
              }
            }
          }
        }
      }
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}

//home

.home{
  background-image: url("../img/bg_home.png");
  background-size: cover;
  padding: 325px 0 193px;
  @include max-screen(1300px){
    padding: 200px 0 120px;
  }
  @include max-screen(1270px){
    padding: 200px 0 90px;
  }
  @include max-screen(1150px){
    padding: 180px 0 70px;
  }
  @include max-screen(1150px){
    padding: 160px 0 60px;
  }
  .container{
    position: relative;
    @include max-screen(1150px){
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    img{
      position: absolute;
      bottom: -193px;
      right: -104px;
      z-index: 2;
      @include max-screen(1370px){
        right: -74px;
      }
      @include max-screen(1320px){
        right: -54px;
      }
      @include max-screen(1300px){
        block-size: 140%;
        right: 0;
        bottom: -120px;
      }
      @include max-screen(1270px){
        block-size: 120%;
        right: 0;
        bottom: -90px;
      }
      @include max-screen(1150px){
        display: none;
      }
    }
    p{
      font-size: 14px;
      line-height: 30px;
      color: $grey_opacity;
      max-width: 460px;
      margin-bottom: 50px;
    }
  }
  .form_home{
    padding: 14px;
    display: flex;
    max-width: 554px;
    background: $white;
    border-radius: 8px;
    box-shadow: $shadow;
    @include max-screen(580px){
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .form_home_select{
      position: relative;
      @include max-screen(580px){
        margin-bottom: 24px;
      }
      &:before{
        content: url("../img/icons/icon_home_location.svg");
        position: absolute;
        top: 18px;
        left: 20px;
        @include max-screen(580px){
          left: 30px;
        }
      }
      &:after{
        content: url("../img/icons/icon_home_arrow.svg");
        position: absolute;
        top: 18px;
        right: 51px;
        pointer-events: none;
        @include max-screen(580px){
          right: 20px;
        }
      }
    }
    .form_home_find{
      @include max-screen(580px){
        margin-bottom: 24px;
      }
      input{
        background-color: rgba(245, 246, 250, 0.5);
        border-radius: 8px;
        width: 203px;
        height: 60px;
        font-family: $second_font;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        border: none;
        outline: none;
        padding: 0 10px 0 30px;
        appearance: none;
        color: rgba(0, 0, 0, 0.3);
        margin-right: 19px;
        @include max-screen(580px){
          margin-right: 0;
          width: 260px;
        }
      }
    }
    .form_home_select{
      select{
        background-color: rgba(245, 246, 250, 0.5);
        border-radius: 8px;
        width: 203px;
        height: 60px;
        font-family: $second_font;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        border: none;
        outline: none;
        padding: 0 30px 0 50px;
        appearance: none;
        color: $grey;
        margin-right: 31px;
        @include max-screen(580px){
          margin-right: 0;
          width: 260px;
        }
      }
    }
    button{
      border-radius: 8px;
      width: 70px;
      height: 60px;
      background-color: $main_blue;
      background-image: url("../img/icons/icon_home_search.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 28px 28px;
      transition: 1s;
      &:hover{
        opacity: 0.7;
      }
      @include max-screen(580px){
        width: 260px;
      }
    }
  }
}

//steps

.steps{
  padding: 86px 0 111px;
  @include max-screen(1000px){
    padding: 60px 0 60px;
  }
  .container{
    h2{
      margin-bottom: 61px;
      text-align: center;
    }
    .steps_articles{
      width: 100%;
      flex-wrap: wrap;
      @include max-screen(1000px){
        justify-content: center;
      }
      article{
        max-width: 320px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include max-screen(1000px){
          margin: 10px;
        }
      }
      h3{
        margin-bottom: 18px;
      }
      p{
        font-size: 12px;
        line-height: 20px;
        color: $grey_opacity;
      }
      img{
        margin-bottom: 5px;
        border-radius: 50%;
        box-shadow: $shadow;
      }
      }
    }
  }

//best

.best{
  padding: 71px 0 73px;
  @include max-screen(1000px){
    padding: 60px 0 60px;
  }
  .container{
    justify-content: end;
    position: relative;
    @include max-screen(1000px){
      text-align: center;
      justify-content: center;
    }
    img{
      position: absolute;
      bottom: -73px;
      left: -105px;
      z-index: 2;
      @include max-screen(1370px){
        left: -84px;
      }
      @include max-screen(1320px){
        left: -54px;
      }
      @include max-screen(1300px){
        left: -34px;
      }
      @include max-screen(1270px){
        block-size: 100%;
        left: 0;
        bottom: -6px;
      }
      @include max-screen(1030px){
        block-size: 90%;
        left: 0;
        bottom: 16px;
      }
      @include max-screen(1000px){
        display: none;
      }
    }
    .best_container_2{
      max-width: 508px;
      h2{
        margin-bottom:24px;

      }
      p{
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: $grey_opacity;
        margin-bottom: 14px;
      }
      .a_btn{
        &:after {
          content: url("../img/icons/icon_service_arrow.svg");
          margin-left: 9px;
          position: relative;
          top: 1px;
        }
      }
      ul{
        li {
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.02em;
          color: $grey;
          margin-bottom: 14px;
          &:before{
            content: url("../img/icons/icon_check.svg");
            display: inline-block;
            margin-right: 18px;
            position: relative;
            top: 4px;
          }
          &:last-of-type{
            margin-bottom: 34px;
          }
        }
      }
    }
  }
}

//service

.service{
  padding: 143px 0 120px;
  @include max-screen(1000px){
    padding: 60px 0 120px;
  }
  .container{
    text-align: center;
    h2{
      margin-bottom: 24px;
    }
    p{
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: $grey;
      max-width: 480px;
      margin: auto;
    }
    article{
      max-width: 348px;
      padding: 59px 62px 31px;
      background-color: $white;
      border-radius: 10px;
      @include max-screen(400px){
        padding: 59px 32px 31px;
      }
      p{
        max-width: 224px;
        font-size: 14px;
        line-height: 22px;
        color: $grey_opacity;
      }
      h3{
        margin-bottom: 23px;
      }
      img{
        margin-bottom: 16px;
      }
    }
  }
}

//doctors +

.doctors{
  padding-bottom: 120px;
  @include max-screen(980px){
    padding-bottom: 70px;
  }
  .container{
    flex-direction: column;
    align-items: center;
    position: relative;
    &:after{
      content: url("../img/titletag.svg");
      display: block;
      position: absolute;
      top: 65px;
      @include max-screen(664px){
        top: 114px;
      }
      @include max-screen(376px){
        top: 163px;
      }
    }
    h2{
      margin-bottom: 47px;
      text-align: center;
    }
    p{
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: $grey_opacity;
      max-width: 514px;
      margin-bottom: 69px;
      text-align: center;
    }
    .doctors_items{
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 58px;
      @include max-screen(1200px){
        justify-content: center;
      }
      article{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
        border: 1px solid #EEEFF1;
        border-radius: 10px;
        padding: 10px 10px 27px 10px;
        box-sizing: border-box;
        box-shadow: $shadow;
        @include max-screen(1200px){
          margin: 10px;
        }
        h4{
          margin-bottom: 2px;
          text-align: center;
        }
        h5{
          margin-bottom: 17px;
          text-align: center;
          color: $grey_opacity;
        }
        img{
          margin-bottom: 18px;
        }
        .doctors_social{
          a{
            display: inline-block;
            transition: 1s;
            &:hover {
              opacity: 0.6;
            }
            &:nth-child(2){
              margin: 0 11px;
            }
          }
        }
      }
    }
  }
}

//mobile +/-

.mobile{
  padding: 206px 0 222px;
  @include max-screen(1200px){
    padding: 60px 0 122px;
  }
  @include max-screen(1000px){
    padding: 60px 0 60px;
  }
  .container{
    justify-content: end;
    position: relative;
    @include max-screen(980px){
      text-align: center;
      justify-content: center;
    }
    .mobile_container_2 {
      max-width: 508px;
      h2 {
        margin-bottom: 30px;
      }
      p {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: $grey_opacity;
        margin-bottom: 45px;
      }
      .mobile_apps{
        @include max-screen(339px){
          display: flex;
          flex-direction: column;
        }
        a{
          transition: 1s;
          display: inline-block;
          &:hover {
            opacity: 0.6;
          }
          &:first-of-type{
            margin-right: 10px;
            @include max-screen(339px){
              margin-bottom: 30px;
              margin-right: 0;
            }
          }
        }
      }
    }
    .mobile_img{
      position: absolute;
      bottom: -222px;
      left: -248px;
      z-index: 2;
      @include max-screen(1520px){
        left: -200px;
      }
      @include max-screen(1370px){
        left: -100px;
      }
      @include max-screen(1200px){
        block-size: 200%;
        left: -80px;
        bottom: -182px;
      }
      @include max-screen(1000px){
        display: none;
      }
    }
  }
}

//reviews +

.reviews{
  padding: 120px 0 93px;
  @include max-screen(980px){
    padding: 60px 0 60px;
  }
  .container{
    flex-direction: column;
    position: relative;
    h2{
      margin-bottom: 82px;
      text-align: center;
    }
    .reviews_items{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .reviews_item{
        display: flex;
        flex-direction: column;
        background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
        border: 1px solid #EEEFF1;
        border-radius: 10px;
        padding: 23px 17px 32px 48px;
        box-sizing: border-box;
        max-width: 370px;
        position: relative;
        &:after{
          content: url("../img/icons/icon_quote.svg");
          display: block;
          position: absolute;
          top: -20px;
          right: 41px;
        }
        .reviews_stars{
          color: #FF9000;
          font-size: 18px;
        }
        img{
          margin-bottom: 10px;
          align-self: center;
        }
        h4{
          color: $dark_grey;
        }
        h5{
          font-family: $second_font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 25px;
          color: $second_blue;
          margin-bottom: 16px;
        }
        p{
          font-size: 16px;
          line-height: 25px;
          color: #454D5D;
        }
      }
    }
  }
}

//book +

.book{
  padding: 105px 0 123px;
  @include max-screen(980px){
    padding: 60px 0 60px;
  }
  .container{
    position: relative;
    background-color: $main_blue;
    border-radius: 12px;
    background-image: url("../img/bg_book.png");
    padding: 82px 118px 107px;
    box-sizing: border-box;
    @include max-screen(980px){
      padding: 82px 78px 107px;
    }
    @include max-screen(940px){
      justify-content: center;
      padding: 82px 16px 107px;
    }
    img{
      position: absolute;
      bottom: 0;
      right: 48px;
      z-index: 2;
      @include max-screen(940px){
        display: none;
      }
    }
    .book_container_div{
      @include max-screen(940px){
        text-align: center;
      }
      h2{
        color: $white;
        max-width: 400px;
        margin-bottom: 37px;
        font-size: 40px;
        line-height: 47px;
        text-transform: capitalize;
        font-weight: 700;
      }
      .a_btn{
        background: $white;
        color: $main_blue;
      }
    }
  }
}

//footer +

footer{
  .footer{
    background-color: $white;
    border-bottom: 1px solid #a8a7a7a1;
    padding-top: 34px;
    padding-bottom: 30px;
    .container{
      flex-wrap: wrap;
      @include max-screen(488px){
        justify-content: center;
      }
      .footer_div_1{
        @include max-screen(900px){
          margin-right: 15px;
        }
        @include max-screen(488px){
          margin: 0 16px 0;
          text-align: center;
          padding-bottom: 32px;
        }
        .footer_logo{
          height: 47px;
          display: inline-block;
          margin-bottom: 12px;
        }
        .p_footer{
          max-width: 300px;
          line-height: 180%;
          margin-bottom: 16px;
          &:last-of-type{
            @include max-screen(778px){
              margin-bottom: 67px;
            }
            @include max-screen(488px){
              margin-bottom: 16px;
            }
          }
        }
        .footer_social{
          ul{
            display: flex;
            @include max-screen(488px){
              justify-content: center;
            }
            li{
              a{
                display: inline-block;
                margin-right: 16px;
                transition: 1s;
                &:hover{
                  opacity: 0.7;
                }
              }
            }
          }
        }
      }
      .h4_footer{
        font-family: $main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #323232;
        margin-bottom: 24px;
      }
      .footer_div_2{
        display: flex;
        justify-content: space-between;
        .footer_div_2_div1, .footer_div_2_div2{
          display: flex;
          flex-direction: column;
          margin-right: 113px;
          @include max-screen(1000px){
            margin-right: 50px;
          }
          @include max-screen(900px){
            margin-right: 15px;
          }
          @include max-screen(778px){
            margin-right: 30px;
          }
          ul{
            li{
              margin-bottom: 24px;
              &:last-of-type{
                margin-bottom: 0;
              }
            }
          }
        }
        .footer_div_2_div2{
          margin-right: 0;
          @include max-screen(900px){
            margin-right: 15px;
          }
          @include max-screen(778px){
            margin-right: 0;
          }
        }
      }
      .footer_div_3{
        display: flex;
        flex-direction: column;
        @include max-screen(778px){
          margin: auto;
          text-align: center;
          padding-top: 32px;
        }
        .p_footer{
          max-width: 290px;
          line-height: 180%;
          margin-bottom: 15px;
        }
        .h4_footer{
          margin-bottom: 19px;
        }
        .footer_form{
          display: flex;
          flex-direction: column;
          .footer_email{
            border: 1.1px solid #E1E2E4;
            border-radius: 5px;
            padding: 12px 20px;
            margin-bottom: 12px;
            font-family: $main_font;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: $grey_opacity;
          }
          button{
            background: $main_blue;
            border-radius: 5px;
            padding: 12px 28px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            font-family: $main_font;
            letter-spacing: 0.02em;
            color: $white;
            transition: 1s;
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
  .footer_after{
    padding: 27px 0 36px;
    .container{
      max-width: 1170px;
      margin: auto;
      @include max-screen(427px){
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .footer_after_div{
        li{
          margin-left: 54px;
          @include max-screen(488px){
            margin-left: 24px;
          }
          &:first-of-type{
            @include max-screen(427px){
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  .p_footer, .a_footer{
    font-family: $third_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $grey;
  }
  .p_footer{
    @include max-screen(427px){
      padding-bottom: 16px;
    }
  }
  .a_footer{
    transition: 1s;
    &:hover{
      color: $main_blue;
    }
  }
}

//owl_carousel

.owl-carousel{
  &.owl-drag{
    .owl-item{
      display: flex;
      justify-content: space-around;
    }
  }
  .owl-stage{
    display: flex;
    align-items: center;
  }
}

//owl_carousel1

.owl-carousel_1{
  margin-top: 75px;
  overflow: hidden;
  .owl-item{
    opacity: 0.7;
    transition: 1s;
    display: flex;
    justify-content: space-around;
    img{
      width: fit-content;
      display: inline-block;
    }
    &:after{
      content: "";
      width: 348px;
      height: 18px;
      background: #40A3F8;
      opacity: 0;
      border-radius: 0 0 10px 10px;
      position: absolute;
      bottom: 0;
      left: auto;
      margin: 0 20px;
      transition: 1s;
      @include max-screen(400px){
        max-width: 288px;
      }
    }
  }
  .owl-dots{
    margin-top: 92px;
  }
  .owl-dot{
    &.active{
      span{
        background: $main_blue;
        width: 60px;
        border-radius: 10px;
      }
    }
    span{
      display: block;
      width: 18px;
      height: 18px;
      margin: 0 10px;
      border-radius: 50%;
      background: $grey_opacity;
      transition: 1s;
    }
  }
  .owl-item.active.center{
    position: relative;
    transition: 1s;
    opacity: 1;
    &:after{
      content: "";
      width: 348px;
      height: 18px;
      background: #40A3F8;
      opacity: 0.5;
      border-radius: 0 0 10px 10px;
      position: absolute;
      bottom: 0;
      left: auto;
      margin: 0 20px;
      transition: 2s;
    }
  }
}

//owl_carousel2

.owl-carousel_2{
  .owl-nav.disabled{
    display: flex;
    justify-content: space-between;
  }
  .owl-item {
    transition: 1s;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    @include max-screen(520px){
      margin: 0 5px;
    }
    img {
      width: fit-content;
      display: inline-block;
    }
  }
  .owl-nav button.owl-prev, .owl-nav button.owl-next{
    content: "";
    background-image: url("../img/icons/icon_arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 18px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8ECF6;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: auto;
    left: -40px;
    transition: 1.5s;
    @include max-screen(1270px){
      right: auto;
      left: 0px;
    }
    @include max-screen(1169px){
      right: auto;
      left: 150px;
    }
    @include max-screen(900px){
      right: auto;
      left: 70px;
    }
    @include max-screen(620px){
      right: auto;
      left: 20px;
    }
    @include max-screen(520px){
      top: 105%;
      right: auto;
      left: 35%;
    }
    span{
      display: none;
    }
    &:hover{
      background-image: url("../img/icons/icon_arrow_white.svg");
      background-color: $main_blue;
    }
  }
  .owl-nav button.owl-next{
    rotate: 180deg;
    right: -40px;
    left: auto;
    @include max-screen(1270px){
      right: 0px;
      left: auto;
    }
    @include max-screen(1169px){
      right: 150px;
      left: auto;
    }
    @include max-screen(900px){
      right: 70px;
      left: auto;
    }
    @include max-screen(620px){
      right: 20px;
      left: auto;
    }
    @include max-screen(520px){
      right: 35%;
      top: 105%;
      left: auto;
    }
  }
}

//burger

.burger{
  display: none;
  @media only screen and (max-width: 767px) {
    display: flex;
  }
  .logo{
    position: relative;
    .header_logo{
      position: fixed;
      z-index: 10;
    }
  }
  #menu {
    background: #1E1E1E;
    width: 100vw;
    height: 100vh;
    padding: 0;
    color: $white;
    display: flex;
    visibility: visible;
    opacity: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 1s;
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 9;
    &.active {
      position: fixed;
      top: 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin: 24px 0;
        &:nth-child(4){
          margin: 24px 0 36px;
        }
        .a{
          font-family: $second_font;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $white;
          transition: 1s;
          &:hover {
            color: $main_blue;
          }
        }
        .a_btn{
          background: $white;
          padding: 12px 28px;
          font-family: $second_font;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          cursor: pointer;
          color: $main_blue;
          transition: 1s;
          &:hover {
            opacity: 1;
            background: $main_blue;
            color:  $white;
          }
        }
      }
    }
  }
  #toggle {
    position: relative;
    width: 30px;
    height: 35px;
    left: 0;
    top: 10px;
    transition: 2s;
    z-index: 10;
    input {
      position: fixed;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      &:checked {
        + span {
          background: transparent;
          left: 0;
          &:after {
            transform: rotate(45deg) translate(-1px, -12px);
            left: -7px;
          }
          &:before {
            transform: rotate(-45deg) translate(-4px, 16px);
            left: -7px;
          }
        }
      }
    }
    span {
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: $main_blue;
      margin-top: 10px;
      transition: all 0.1s;
      left: 0;
      &:before, &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $main_blue;
        top: -12px;
        left: 0;
        transition: all 0.3s;
      }
      &:after {
        top: 12px;
      }
    }
  }
}